.idea/
build/
dist/
/scripts/spark_bot.egg-info/
/spark_bot.egg-info/
/slack_bot.egg-info/
**/myenv/
src/slack_bot/__pycache__/__init__.cpython-39.pyc
src/slack_bot/__pycache__/slack_bot.cpython-39.pyc
